%text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 1rem;
}

div {
  letter-spacing: .005em;
  @extend %text-shadow;
}

// * Swiper * //

.swiper {
  width: 100%;
  max-height: 100%;
  height: 600px;
  border-radius: 10px;
  filter: drop-shadow(0 -1px 30px rgba(0, 0, 0, .2));
}

.swiper__inner {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  color: #F8F8F8;
  padding-bottom: 170px;
  text-align: center;
}

// .swiper-slide {
//     height: 40vw;
//     min-height: 30rem;
//     max-height: 64rem;
// }

.swiper__slide_wrapper {
  height: 100%;
}

// Swiper image

.swiper__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: hsl( 0deg, 0, 10, .2);

    // background-image: linear-gradient(to top, hsla( 0, 0, 10, 0.25 ), hsla( 0, 0, 10, 0 ));
  }
}

// Swiper pagination

.swiper-pagination {
  bottom: 0 !important;
  transition: .2s;
  margin-bottom: 32px;
}

.swiper-pagination-bullet {
  background: #F8F8F8;
  opacity: .5;
  transition: width .2s;
  border-radius: 1rem;
  width: 12px;
  height: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 32px;
  background: #E18668;
}

// Swiper buttons

.swiper__buttons_wraper {
  position: relative;
  height: 600px;
  bottom: 600px;
}

.swiper-button- {

  &prev{
    transition: .2s;
    left: 0;

    &::after {
      content: none;
    }

    &:hover {
      filter: drop-shadow( 0 1px 2px rgba(0, 0, 0, .5));
    }
  }

  &next{
    transition: .2s;
    right: 0;

    &::after {
      content: none;
    }

    &:hover {
      filter: drop-shadow( 0 1px 2px rgba(0, 0, 0, .5));
    }
  }
}

.swiper__arrow {
  width: 8px;
  height: 14px;

  &-next {
    background: url('data:image/svg+xml;charset=UTF-8,<svg class="shadow" xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 1L7 7L1 13" stroke="%23F8F8F8" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  }

  &-prev {
    background: url('data:image/svg+xml;charset=UTF-8,<svg class="shadow" xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M7 1L0.999998 7L7 13" stroke="%23F8F8F8" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  }
}

.arrow-shadow {
  filter: drop-shadow( 0 1px 2px rgba(0, 0, 0, .1));
}

// Swiper content

.swiper__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;
}

.content__title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: .12em;
  margin-bottom: 8px;
  @extend %text-shadow;
}

.content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: .9;
  margin-bottom: 32px;
}

.btn {
  color: #F8F8F8;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  padding: 11px 18px;
  background: linear-gradient(257.52deg, rgba(237, 149, 121, .5) 12.99%, rgba(237, 149, 121, 0) 127.64%), #E18668;
  background-color: #E18668;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  @extend %text-shadow;

  &:hover {
    color: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .swiper__buttons_wraper {
    opacity: 0;
  }
}